/* variables */

:root {
    --padding: 10px;
}


/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


img {
    width: 100%;
}

/* utilities */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

/* content */
/* desktop first */
.web-app {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}



/* container */
#app-container {
    flex-grow: 1;
    display: flex;
}


/* aside */

aside {
    padding: 20px 80px 20px 20px;
    height: 100%;
    background-color: black;
}

aside img {
    width: 130px;
}




/* main */
main {
    flex-grow: 1;
    position: relative;
}


/* header */
header {
    opacity: 0.5;
    background-color: dimgrey;
    position: absolute;
    top: 0;
    width: 100%;
    padding: var(--padding);
}

header a {
    border-radius: 30px;
    background-color: none;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5px 30px;
}

/* album-container */
#album-container {
    overflow-y: auto;
    height: calc(100vh - 10vh);
}

/* super x es */
.super {
    min-height: 300vh;
    background-color: azure;
}


/* footer */
footer {
    background-color: darkgoldenrod;
    height: 10vh;
    width: 100%;
}



/* query */
@media screen and {}