/* variables */

:root {
    --padding: 20px;
}


/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


img {
    width: 100%;
}

h4 {
    padding: 0 0 10px 0;
}

/* utilities */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

/* content */
/* desktop first */
.web-app {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}



/* container */
#app-container {
    flex-grow: 1;
    display: flex;
}


/* aside */

aside {
    padding: 5px 80px 20px 20px;
    height: 100%;
    background-color: black;
    color: white;
    font-size: 0.7rem;
}

aside img {
    width: 130px;
}

aside>div {
    padding: 15px 0;
    opacity: 0.8;
}

aside>div>div {
    padding: 8px 0;
}

.icon-big {
    font-size: 16px;
}

.icon-small {
    font-size: 0.9rem;
}

.icon-big>*,
.icon-small>* {
    padding: 0 5px 0 0;
}

.logo-small {
    display: none;
}



/* main */
main {
    flex-grow: 1;
    position: relative;
}


/* header */
header {
    opacity: 0.5;
    background-color: #090b12;
    position: absolute;
    top: 0;
    width: 100%;
    padding: var(--padding);
}

header a {
    border-radius: 30px;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    opacity: 99%;
}

/* album-container */
#album-container {
    overflow-y: auto;
    height: calc(100vh - 10vh);

}

/* album */
.album {
    min-height: 300vh;
    background-color: #141922;
    padding-top: 100px;
}

/* typenav */
.typenav>* {
    padding: 0 8px;
    color: white;
    opacity: 0.5;
    font-size: 0.8rem;
}




/* series */
.series {
    color: white;
    padding: 10px 0px 0px 30px;
}



.card {
    width: 180px;
    padding: 20px 15px 20px 0;
}

.card div {
    padding: 5px 5px;
}

.name {
    font-weight: 700;
}

.subtitle {
    font-size: 0.8rem;
}

.circle img {
    border-radius: 50%;
}


/* footer */
footer {
    background-color: #282828;
    height: 10vh;
    width: 100%;
}



/* query */
@media screen and (max-width:878px) {
    .card {
        width: 150px;
    }
}

@media screen and (max-width:639px) {
    .card {
        width: 180px;
    }
}



@media screen and (max-width:552px) {

    aside {
        padding: 10px 5px;
    }

    .card {
        width: 240px;
    }

    .series {
        padding: 10px 5px;
    }

    .logo-small {
        display: initial;
        width: 35px;
    }

    .icon-small {
        width: 35px;
    }

    .logo-big {
        display: none;
    }

    .playlist {
        display: none;
    }

    .specific {
        display: none;
    }

    aside>div {
        padding: 5px 0;
    }

}