* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    background-color: black;
}

/* utilities */
.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* content */

/* container */
.container {
    height: 90vh;
    background-color: indigo;
}


/* aside */
aside {
    position: fixed;
    left: 0;
    background-color: blue;
    width: 250px;
    height: 100%;
}

/* main */
main {
    flex-grow: 1;
}


/* header */
header {
    height: 10vh;
    position: absolute;
    top: 0px;
    background-color: aqua;
}





/* footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: darkgoldenrod;
    height: 10vh;
    width: 100%;
}

/* query */